
{
  "endpoint": "/api/admin/v1/users",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/users",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/organizations",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/organizations",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/managers",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/managers",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/managers",
  "method": "PUT",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/managers",
      "method": "PUT",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/transactions",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/transactions",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/transactions",
  "method": "POST",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/transactions",
      "method": "POST",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/self",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/self",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/organizations/{id}",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/organizations/{id}",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/challenges",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/challenges",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/challenges",
  "method": "POST",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/challenges",
      "method": "POST",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/products",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/products",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/challenges/{id}",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/challenges/{id}",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/challenges/{id}",
  "method": "PUT",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/challenges/{id}",
      "method": "PUT",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/challenges/{id}",
  "method": "DELETE",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/challenges/{id}",
      "method": "DELETE",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/challenges/{id}/participants",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/challenges/{id}/participants",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/challenges/{id}/participants/{group_id}/users",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/challenges/{id}/participants/{group_id}/users",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/templates",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/templates",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/templates",
  "method": "POST",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/templates",
      "method": "POST",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/templates/{id}",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/templates/{id}",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/templates/{id}",
  "method": "PUT",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/templates/{id}",
      "method": "PUT",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/templates/{id}",
  "method": "DELETE",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/templates/{id}",
      "method": "DELETE",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/templates/{id}/activate",
  "method": "POST",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/templates/{id}/activate",
      "method": "POST",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/templates/{id}/deactivate",
  "method": "POST",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/templates/{id}/deactivate",
      "method": "POST",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/admin/v1/users/{id}",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params": [ "*" ],

  "backend": [
    {
    "url_pattern": "/api/admin/v1/users/{id}",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
}