
{
  "endpoint": "/api/client/v1/challenges",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "querystring_params":[ "*" ],
  "backend": [
    {
    "url_pattern": "/api/client/v1/challenges",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/client/v1/challenges/{id}",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  
  "backend": [
    {
    "url_pattern": "/api/client/v1/challenges/{id}",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/client/v1/challenges/{id}/participants",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  
  "backend": [
    {
    "url_pattern": "/api/client/v1/challenges/{id}/participants",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/client/v1/challenges/{id}/participants/{group_id}/users",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  
  "backend": [
    {
    "url_pattern": "/api/client/v1/challenges/{id}/participants/{group_id}/users",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/client/v1/user",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  
  "backend": [
    {
    "url_pattern": "/api/client/v1/user",
      "method": "GET",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/client/v1/user",
  "method": "PUT",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  
  "backend": [
    {
    "url_pattern": "/api/client/v1/user",
      "method": "PUT",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/client/v1/device-token",
  "method": "POST",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  
  "backend": [
    {
    "url_pattern": "/api/client/v1/device-token",
      "method": "POST",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
},

{
  "endpoint": "/api/client/v1/device-token/{device_udid}",
  "method": "DELETE",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  
  "backend": [
    {
    "url_pattern": "/api/client/v1/device-token/{device_udid}",
      "method": "DELETE",
      "encoding": "no-op",
      "host": [ "http://backend-nginx" ]
    }
  ]
}