
  {
    "endpoint": "/api/{{.discussion.version}}/discussions",
    "method": "GET",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "querystring_params": [
      "page",
      "per_page",
      "with",
      "status"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions",
        "encoding": "json",
        "method": "GET",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        }
      }
    ]
  },
  {
    "endpoint": "/api/{{.discussion.version}}/discussions",
    "method": "POST",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions",
        "encoding": "json",
        "method": "POST",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  },
  {
    "endpoint": "/api/{{.discussion.version}}/discussions/{id}",
    "method": "GET",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions/{id}",
        "encoding": "json",
        "method": "GET",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  },
  {
    "endpoint": "/api/{{.discussion.version}}/discussions/{id}",
    "method": "PUT",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions/{id}",
        "encoding": "json",
        "method": "PUT",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  },


  {
    "endpoint": "/api/{{.discussion.version}}/discussions/{id}/republish",
    "method": "POST",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions/{id}/republish",
        "encoding": "json",
        "method": "POST",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  },
  {
    "endpoint": "/api/{{.discussion.version}}/discussions/{id}/publish",
    "method": "POST",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions/{id}/publish",
        "encoding": "json",
        "method": "POST",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  },
  {
    "endpoint": "/api/{{.discussion.version}}/discussions/{id}/unpublish",
    "method": "POST",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions/{id}/unpublish",
        "encoding": "json",
        "method": "POST",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  },

  {
    "endpoint": "/api/{{.discussion.version}}/discussions/{id}/complain",
    "method": "POST",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions/{id}/complain",
        "encoding": "json",
        "method": "POST",
        "host": [
          "{{.users.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  },

  {
    "endpoint": "/api/{{.discussion.version}}/current",
    "method": "GET",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/current",
        "encoding": "json",
        "method": "GET",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target":"data",
        "group": "current"
      },
      {
        "url_pattern": "{{.discussion.prefix}}/discussions",
        "encoding": "json",
        "method": "GET",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "group": "discussions"
      }
    ]
  }

