
  {
    "endpoint": "/api/{{.discussion.version}}/feed",
    "method": "GET",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "querystring_params": [
      "latitude",
      "longitude",
      "age",
      "ethics"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/feed",
        "encoding": "json",
        "method": "GET",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        }
      }
    ]
  },
  {
    "endpoint": "/api/{{.discussion.version}}/feed/{id}",
    "method": "GET",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/discussions/{id}",
        "encoding": "json",
        "method": "GET",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  },
  {
    "endpoint": "/api/{{.discussion.version}}/feed/{id}/reaction",
    "method": "POST",
    "output_encoding": "json",
    "headers_to_pass": [
      "*"
    ],
    "querystring_params": [
      "latitude",
      "longitude",
      "age",
      "ethics"
    ],
    "backend": [
      {
        "url_pattern": "{{.discussion.prefix}}/feed/{id}/reaction",
        "encoding": "json",
        "method": "POST",
        "host": [
          "{{.discussion.host}}"
        ],
        "extra_config": {
          "github.com/devopsfaith/krakend/http": {
            "return_error_details": "backend"
          }
        },
        "target": "data"
      }
    ]
  }
