

{
  "endpoint": "/api/admin/v1/users",
  "method": "GET",
  "output_encoding": "no-op",
  "headers_to_pass": [ "*" ],
  "backend": [
    {
    "url_pattern": "/admin/v1/users",
      "method": "GET",
      "encoding": "json",
      "host": [ "http://backend-nginx" ]
    }
  ]
},
  {
    "endpoint": "/api/mock/challenge/3/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 385,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 376,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 368,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/4/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 296,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 328,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 478,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/7/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 475,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 570,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 209,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/8/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 533,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 346,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 531,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/11/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 562,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 460,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 584,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/12/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 124,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 346,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 113,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/15/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 396,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 123,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 179,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/16/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 334,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 302,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 108,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/19/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 136,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 421,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 124,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  },
  {
    "endpoint": "/api/mock/challenge/20/command/1",
    "backend": [
      {
        "host": [
          "https://develop.madteams.itmegastar.com"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Команда 1",
            "progress": [
              {
                "title": "Кофе латте 300 мл",
                "total": 296,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 419,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 433,
                "unit": "₽"
              }
            ]
          }
        }
      }
    }
  }
