
  {
    "endpoint": "/mock/active/page/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 1,
                "dateFrom": "2021-09-16T19:44:13.775898",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5001,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 2,
                "dateFrom": "2021-09-16T19:44:13.778096",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5002,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 3,
                "dateFrom": "2021-09-16T19:44:13.778123",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5003,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 4,
                "dateFrom": "2021-09-16T19:44:13.778372",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5004,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 5,
                "dateFrom": "2021-09-16T19:44:13.781825",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5005,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "count"
              },
              {
                "id": 6,
                "dateFrom": "2021-09-16T19:44:13.782432",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5006,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "count"
              },
              {
                "id": 7,
                "dateFrom": "2021-09-16T19:44:13.782556",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5007,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "type": "count"
              },
              {
                "id": 8,
                "dateFrom": "2021-09-16T19:44:13.782677",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5008,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "type": "count"
              },
              {
                "id": 9,
                "dateFrom": "2021-09-16T19:44:13.782700",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5009,
                "title": "Средний чек - 980",
                "type": "avgCheck"
              },
              {
                "id": 10,
                "dateFrom": "2021-09-16T19:44:13.784274",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5010,
                "title": "Самый большой средний чек",
                "type": "avgCheck"
              }
            ],
            "meta": {
              "currentPage": 1,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/active/page/2",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 11,
                "dateFrom": "2021-09-16T19:44:13.784496",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5011,
                "title": "Средний чек команды - 980",
                "type": "avgCheck"
              },
              {
                "id": 12,
                "dateFrom": "2021-09-16T19:44:13.784776",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5012,
                "title": "Самый большой средний чек (команда)",
                "type": "avgCheck"
              },
              {
                "id": 13,
                "dateFrom": "2021-09-16T19:44:13.784799",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5013,
                "title": "Конверсия по сумме 25%",
                "type": "conversionAmount"
              },
              {
                "id": 14,
                "dateFrom": "2021-09-16T19:44:13.785018",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5014,
                "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021",
                "type": "conversionAmount"
              },
              {
                "id": 15,
                "dateFrom": "2021-09-16T19:44:13.785203",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5015,
                "title": "Конверсия по сумме 25%",
                "type": "conversionAmount"
              },
              {
                "id": 16,
                "dateFrom": "2021-09-16T19:44:13.785224",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5016,
                "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021 (команда)",
                "type": "conversionAmount"
              },
              {
                "id": 17,
                "dateFrom": "2021-09-16T19:44:13.785242",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5017,
                "title": "Конверсия по количеству 25%",
                "type": "conversionTotal"
              },
              {
                "id": 18,
                "dateFrom": "2021-09-16T19:44:13.785446",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5018,
                "title": "Лучшая конверсия по количеству в сентябре 2021",
                "type": "conversionTotal"
              },
              {
                "id": 19,
                "dateFrom": "2021-09-16T19:44:13.785617",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5019,
                "title": "Конверсия по количеству 25%",
                "type": "conversionTotal"
              },
              {
                "id": 20,
                "dateFrom": "2021-09-16T19:44:13.785638",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5020,
                "title": "Лучшая конверсия по количеству в сентябре 2021",
                "type": "conversionTotal"
              }
            ],
            "meta": {
              "currentPage": 2,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/active/page/3",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 111,
                "dateFrom": "2021-09-16T19:44:13.785658",
                "dateTo": "2021-09-22T19:44:13.785675",
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5111,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 112,
                "dateFrom": "2021-09-16T19:44:13.785698",
                "dateTo": "2021-09-22T19:44:13.785715",
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5112,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              }
            ],
            "meta": {
              "currentPage": 3,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  }
