
  {
    "endpoint": "/mock/active/page/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 1,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.868252",
                "dateTo": null,
                "format": "onePerson",
                "type": "sum",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 20000,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 30000,
                    "unit": "₽",
                    "isCondition": false
                  }
                ],
                "prise": 5001,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 2,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.870468",
                "dateTo": null,
                "format": "onePerson",
                "type": "sum",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 20000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 30000,
                    "unit": "₽",
                    "isCondition": true
                  }
                ],
                "prise": 5002,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 3,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.870495",
                "dateTo": null,
                "format": "manyPerson",
                "type": "sum",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 20000,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 30000,
                    "unit": "₽",
                    "isCondition": false
                  }
                ],
                "prise": 5003,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 4,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.870514",
                "dateTo": null,
                "format": "manyPerson",
                "type": "sum",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 20000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 30000,
                    "unit": "₽",
                    "isCondition": true
                  }
                ],
                "prise": 5004,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 5,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.872036",
                "dateTo": null,
                "format": "onePerson",
                "type": "count",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "шт",
                    "isCondition": false
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 20000,
                    "unit": "шт",
                    "isCondition": false
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 30000,
                    "unit": "шт",
                    "isCondition": false
                  }
                ],
                "prise": 5005,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 6,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.872170",
                "dateTo": null,
                "format": "onePerson",
                "type": "count",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "шт",
                    "isCondition": true
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 20000,
                    "unit": "шт",
                    "isCondition": true
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 30000,
                    "unit": "шт",
                    "isCondition": true
                  }
                ],
                "prise": 5006,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 7,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.872289",
                "dateTo": null,
                "format": "manyPerson",
                "type": "count",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "шт",
                    "isCondition": false
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 20000,
                    "unit": "шт",
                    "isCondition": false
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 30000,
                    "unit": "шт",
                    "isCondition": false
                  }
                ],
                "prise": 5007,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 8,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.872843",
                "dateTo": null,
                "format": "manyPerson",
                "type": "count",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "шт",
                    "isCondition": true
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 20000,
                    "unit": "шт",
                    "isCondition": true
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 30000,
                    "unit": "шт",
                    "isCondition": true
                  }
                ],
                "prise": 5008,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 9,
                "title": "Средний чек - 980",
                "dateFrom": "2021-09-24T06:29:34.872882",
                "dateTo": null,
                "format": "onePerson",
                "type": "avgCheck",
                "isWin": false,
                "target": [
                  {
                    "title": "Сумма среднего чека",
                    "total": 980,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Количество чеков",
                    "total": 600,
                    "unit": "",
                    "isCondition": true
                  }
                ],
                "prise": 5009,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 10,
                "title": "Самый большой средний чек",
                "dateFrom": "2021-09-24T06:29:34.872902",
                "dateTo": null,
                "format": "onePerson",
                "type": "avgCheck",
                "isWin": false,
                "target": [
                  {
                    "title": "Сумма среднего чека",
                    "total": 980,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Количество чеков",
                    "total": 600,
                    "unit": "",
                    "isCondition": true
                  },
                  {
                    "title": "Сумма товаров",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  }
                ],
                "prise": 5010,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              }
            ],
            "meta": {
              "currentPage": 1,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/active/page/2",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 11,
                "title": "Средний чек команды - 980",
                "dateFrom": "2021-09-24T06:29:34.872921",
                "dateTo": null,
                "format": "manyPerson",
                "type": "avgCheck",
                "isWin": false,
                "target": [
                  {
                    "title": "Сумма среднего чека",
                    "total": 980,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Количество чеков",
                    "total": 600,
                    "unit": "",
                    "isCondition": true
                  }
                ],
                "prise": 5011,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 12,
                "title": "Самый большой средний чек (команда)",
                "dateFrom": "2021-09-24T06:29:34.872939",
                "dateTo": null,
                "format": "manyPerson",
                "type": "avgCheck",
                "isWin": false,
                "target": [
                  {
                    "title": "Сумма среднего чека",
                    "total": 980,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Количество чеков",
                    "total": 600,
                    "unit": "",
                    "isCondition": true
                  },
                  {
                    "title": "Сумма товаров",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  }
                ],
                "prise": 5012,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 13,
                "title": "Конверсия по сумме 25%",
                "dateFrom": "2021-09-24T06:29:34.872956",
                "dateTo": null,
                "format": "onePerson",
                "type": "conversionAmount",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Конверсия по сумме",
                    "total": 25,
                    "unit": "%",
                    "isCondition": false
                  }
                ],
                "prise": 5013,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 14,
                "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021",
                "dateFrom": "2021-09-24T06:29:34.872974",
                "dateTo": null,
                "format": "onePerson",
                "type": "conversionAmount",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Конверсия по сумме",
                    "total": 25,
                    "unit": "%",
                    "isCondition": true
                  }
                ],
                "prise": 5014,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 15,
                "title": "Конверсия по сумме 25%",
                "dateFrom": "2021-09-24T06:29:34.872992",
                "dateTo": null,
                "format": "manyPerson",
                "type": "conversionAmount",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Конверсия по сумме",
                    "total": 25,
                    "unit": "%",
                    "isCondition": false
                  }
                ],
                "prise": 5015,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 16,
                "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021 (команда)",
                "dateFrom": "2021-09-24T06:29:34.873009",
                "dateTo": null,
                "format": "manyPerson",
                "type": "conversionAmount",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Конверсия по сумме",
                    "total": 25,
                    "unit": "%",
                    "isCondition": true
                  }
                ],
                "prise": 5016,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 17,
                "title": "Конверсия по количеству 25%",
                "dateFrom": "2021-09-24T06:29:34.873026",
                "dateTo": null,
                "format": "onePerson",
                "type": "conversionTotal",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Конверсия по сумме",
                    "total": 25,
                    "unit": "%",
                    "isCondition": false
                  }
                ],
                "prise": 5017,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 18,
                "title": "Лучшая конверсия по количеству в сентябре 2021",
                "dateFrom": "2021-09-24T06:29:34.873044",
                "dateTo": null,
                "format": "onePerson",
                "type": "conversionTotal",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Конверсия по сумме",
                    "total": 25,
                    "unit": "%",
                    "isCondition": true
                  }
                ],
                "prise": 5018,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 19,
                "title": "Конверсия по количеству 25%",
                "dateFrom": "2021-09-24T06:29:34.873061",
                "dateTo": null,
                "format": "manyPerson",
                "type": "conversionTotal",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Конверсия по сумме",
                    "total": 25,
                    "unit": "%",
                    "isCondition": false
                  }
                ],
                "prise": 5019,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              },
              {
                "id": 20,
                "title": "Лучшая конверсия по количеству в сентябре 2021",
                "dateFrom": "2021-09-24T06:29:34.873079",
                "dateTo": null,
                "format": "manyPerson",
                "type": "conversionTotal",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 100000,
                    "unit": "₽",
                    "isCondition": true
                  },
                  {
                    "title": "Конверсия по сумме",
                    "total": 25,
                    "unit": "%",
                    "isCondition": true
                  }
                ],
                "prise": 5020,
                "targetType": "forBestResult",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": null,
                "targetPriceCondition": null
              }
            ],
            "meta": {
              "currentPage": 2,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/active/page/3",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 21,
                "title": "(21) Ежемесячный индивидуальный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.873096",
                "dateTo": null,
                "format": "onePerson",
                "type": "sum",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": false
                  }
                ],
                "prise": 5021,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": 100000,
                "targetPriceCondition": false
              },
              {
                "id": 22,
                "title": "(22) Ежемесячный индивидуальный челлендж по продаже кофе",
                "dateFrom": "2021-09-24T06:29:34.873117",
                "dateTo": null,
                "format": "onePerson",
                "type": "sum",
                "isWin": false,
                "target": [
                  {
                    "title": "Кофе латте 300 мл",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": false
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "total": 50000,
                    "unit": "₽",
                    "isCondition": false
                  }
                ],
                "prise": 5022,
                "targetType": "forTarget",
                "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
                "targetPriceTotal": 100000,
                "targetPriceCondition": true
              }
            ],
            "meta": {
              "currentPage": 3,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  }
