
  {
    "endpoint": "/challenge/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "prise": 5001,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/2",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 2,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "prise": 5002,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/3",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 3,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "prise": 5003,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/4",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 4,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "prise": 5004,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/5",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 5,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "prise": 5005,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/6",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 6,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "prise": 5006,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/7",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 7,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "prise": 5007,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/8",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 8,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "prise": 5008,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/9",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 9,
            "title": "Средний чек - 980",
            "prise": 5009,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/10",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 10,
            "title": "Самый большой средний чек",
            "prise": 5010,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/11",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 11,
            "title": "Средний чек команды - 980",
            "prise": 5011,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/12",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 12,
            "title": "Самый большой средний чек (команда)",
            "prise": 5012,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/13",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 13,
            "title": "Конверсия по сумме 25%",
            "prise": 5013,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/14",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 14,
            "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021",
            "prise": 5014,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/15",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 15,
            "title": "Конверсия по сумме 25%",
            "prise": 5015,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/16",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 16,
            "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021 (команда)",
            "prise": 5016,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/17",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 17,
            "title": "Конверсия по количеству 25%",
            "prise": 5017,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/18",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 18,
            "title": "Лучшая конверсия по количеству в сентябре 2021",
            "prise": 5018,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/19",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 19,
            "title": "Конверсия по количеству 25%",
            "prise": 5019,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/20",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 20,
            "title": "Лучшая конверсия по количеству в сентябре 2021",
            "prise": 5020,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/111",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 111,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "prise": 5111,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/challenge/112",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 112,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "prise": 5112,
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  }
