
  {
    "endpoint": "/mock/active/page/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 1,
                "dateFrom": "2021-09-24T06:55:54.251848",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5001,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 2,
                "dateFrom": "2021-09-24T06:55:54.257925",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5002,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 3,
                "dateFrom": "2021-09-24T06:55:54.257950",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5003,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 4,
                "dateFrom": "2021-09-24T06:55:54.257968",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5004,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 5,
                "dateFrom": "2021-09-24T06:55:54.260964",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5005,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "count"
              },
              {
                "id": 6,
                "dateFrom": "2021-09-24T06:55:54.261234",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5006,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "count"
              },
              {
                "id": 7,
                "dateFrom": "2021-09-24T06:55:54.261377",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5007,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "type": "count"
              },
              {
                "id": 8,
                "dateFrom": "2021-09-24T06:55:54.261586",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5008,
                "title": "Ежемесячный командный челлендж по продаже кофе",
                "type": "count"
              },
              {
                "id": 9,
                "dateFrom": "2021-09-24T06:55:54.261681",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5009,
                "title": "Средний чек - 980",
                "type": "avgCheck"
              },
              {
                "id": 10,
                "dateFrom": "2021-09-24T06:55:54.261702",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5010,
                "title": "Самый большой средний чек",
                "type": "avgCheck"
              }
            ],
            "meta": {
              "currentPage": 1,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/active/page/2",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 11,
                "dateFrom": "2021-09-24T06:55:54.261720",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5011,
                "title": "Средний чек команды - 980",
                "type": "avgCheck"
              },
              {
                "id": 12,
                "dateFrom": "2021-09-24T06:55:54.261739",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5012,
                "title": "Самый большой средний чек (команда)",
                "type": "avgCheck"
              },
              {
                "id": 13,
                "dateFrom": "2021-09-24T06:55:54.261757",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5013,
                "title": "Конверсия по сумме 25%",
                "type": "conversionAmount"
              },
              {
                "id": 14,
                "dateFrom": "2021-09-24T06:55:54.261779",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5014,
                "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021",
                "type": "conversionAmount"
              },
              {
                "id": 15,
                "dateFrom": "2021-09-24T06:55:54.261965",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5015,
                "title": "Конверсия по сумме 25%",
                "type": "conversionAmount"
              },
              {
                "id": 16,
                "dateFrom": "2021-09-24T06:55:54.261984",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5016,
                "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021 (команда)",
                "type": "conversionAmount"
              },
              {
                "id": 17,
                "dateFrom": "2021-09-24T06:55:54.262004",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5017,
                "title": "Конверсия по количеству 25%",
                "type": "conversionTotal"
              },
              {
                "id": 18,
                "dateFrom": "2021-09-24T06:55:54.262024",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5018,
                "title": "Лучшая конверсия по количеству в сентябре 2021",
                "type": "conversionTotal"
              },
              {
                "id": 19,
                "dateFrom": "2021-09-24T06:55:54.262042",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5019,
                "title": "Конверсия по количеству 25%",
                "type": "conversionTotal"
              },
              {
                "id": 20,
                "dateFrom": "2021-09-24T06:55:54.262060",
                "dateTo": null,
                "format": "manyPerson",
                "isWin": false,
                "sum": 1000,
                "total": 5020,
                "title": "Лучшая конверсия по количеству в сентябре 2021",
                "type": "conversionTotal"
              }
            ],
            "meta": {
              "currentPage": 2,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/active/page/3",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 21,
                "dateFrom": "2021-09-24T06:55:54.262078",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5021,
                "title": "(21) Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 22,
                "dateFrom": "2021-09-24T06:55:54.262232",
                "dateTo": null,
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5022,
                "title": "(22) Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              }
            ],
            "meta": {
              "currentPage": 3,
              "lastPage": 3,
              "total": 22
            }
          }
        }
      }
    }
  }
