
  {
    "endpoint": "/mock/challenge/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.937886",
            "dateTo": null,
            "format": "onePerson",
            "type": "sum",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽"
              }
            ],
            "prise": 5001,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 5,
                "name": "Пак Кирилл",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 11,
                "sum": 11000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/2",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 2,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.940313",
            "dateTo": null,
            "format": "onePerson",
            "type": "sum",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽"
              }
            ],
            "prise": 5002,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 5,
                "name": "Пак Кирилл",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 11,
                "sum": 11000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/3",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 3,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.940341",
            "dateTo": null,
            "format": "manyPerson",
            "type": "sum",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽"
              }
            ],
            "prise": 5003,
            "peoples": [
              {
                "id": 1,
                "name": "Команда 1",
                "avatar": "assets/images/avatar_5.png",
                "progress": 90,
                "sum": 900,
                "details": []
              },
              {
                "id": 2,
                "name": "Команда 2",
                "avatar": "assets/images/avatar_5.png",
                "progress": 89,
                "sum": 89000,
                "details": []
              },
              {
                "id": 3,
                "name": "Команда 3",
                "avatar": "assets/images/avatar_5.png",
                "progress": 56,
                "sum": 56000,
                "details": []
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/4",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 4,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.940573",
            "dateTo": null,
            "format": "manyPerson",
            "type": "sum",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽"
              }
            ],
            "prise": 5004,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 5,
                "name": "Пак Кирилл",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 11,
                "sum": 11000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/5",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 5,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.943984",
            "dateTo": null,
            "format": "onePerson",
            "type": "count",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт"
              }
            ],
            "prise": 5005,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/6",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 6,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.944533",
            "dateTo": null,
            "format": "onePerson",
            "type": "count",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт"
              }
            ],
            "prise": 5006,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/7",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 7,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.944649",
            "dateTo": null,
            "format": "manyPerson",
            "type": "count",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт"
              }
            ],
            "prise": 5007,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/8",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 8,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.944763",
            "dateTo": null,
            "format": "manyPerson",
            "type": "count",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт"
              }
            ],
            "prise": 5008,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/9",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 9,
            "title": "Средний чек - 980",
            "dateFrom": "2021-09-16T22:12:20.944785",
            "dateTo": null,
            "format": "onePerson",
            "type": "avgCheck",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽"
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": ""
              }
            ],
            "prise": 5009,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/10",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 10,
            "title": "Самый большой средний чек",
            "dateFrom": "2021-09-16T22:12:20.945837",
            "dateTo": null,
            "format": "onePerson",
            "type": "avgCheck",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽"
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": ""
              },
              {
                "title": "Сумма товаров",
                "total": 100000,
                "unit": "₽"
              }
            ],
            "prise": 5010,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": 100000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": 100000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": 100000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": 100000
                  }
                ]
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/11",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 11,
            "title": "Средний чек команды - 980",
            "dateFrom": "2021-09-16T22:12:20.946023",
            "dateTo": null,
            "format": "manyPerson",
            "type": "avgCheck",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽"
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": ""
              }
            ],
            "prise": 5011,
            "peoples": [
              {
                "id": 1,
                "name": "Команда 1",
                "avatar": "assets/images/avatar_5.png",
                "progress": 90,
                "sum": 900,
                "details": []
              },
              {
                "id": 2,
                "name": "Команда 2",
                "avatar": "assets/images/avatar_5.png",
                "progress": 89,
                "sum": 89000,
                "details": []
              },
              {
                "id": 3,
                "name": "Команда 3",
                "avatar": "assets/images/avatar_5.png",
                "progress": 56,
                "sum": 56000,
                "details": []
              },
              {
                "id": 4,
                "name": "Команда 4",
                "avatar": "assets/images/avatar_5.png",
                "progress": 10,
                "sum": 10000,
                "details": []
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/12",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 12,
            "title": "Самый большой средний чек (команда)",
            "dateFrom": "2021-09-16T22:12:20.946396",
            "dateTo": null,
            "format": "manyPerson",
            "type": "avgCheck",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽"
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": ""
              },
              {
                "title": "Сумма товаров",
                "total": 100000,
                "unit": "₽"
              }
            ],
            "prise": 5012,
            "peoples": [
              {
                "id": 1,
                "name": "Команда 1",
                "avatar": "assets/images/avatar_5.png",
                "progress": 90,
                "sum": 900,
                "details": []
              },
              {
                "id": 2,
                "name": "Команда 2",
                "avatar": "assets/images/avatar_5.png",
                "progress": 89,
                "sum": 89000,
                "details": []
              },
              {
                "id": 3,
                "name": "Команда 3",
                "avatar": "assets/images/avatar_5.png",
                "progress": 56,
                "sum": 56000,
                "details": []
              },
              {
                "id": 4,
                "name": "Команда 4",
                "avatar": "assets/images/avatar_5.png",
                "progress": 10,
                "sum": 10000,
                "details": []
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/13",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 13,
            "title": "Конверсия по сумме 25%",
            "dateFrom": "2021-09-16T22:12:20.946418",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionAmount",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽"
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%"
              }
            ],
            "prise": 5013,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/14",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 14,
            "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021",
            "dateFrom": "2021-09-16T22:12:20.946601",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionAmount",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽"
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%"
              }
            ],
            "prise": 5014,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  },
                  {
                    "title": "Сумма товаров",
                    "sum": 90123,
                    "total": null
                  }
                ]
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/15",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 15,
            "title": "Конверсия по сумме 25%",
            "dateFrom": "2021-09-16T22:12:20.946773",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionAmount",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽"
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%"
              }
            ],
            "prise": 5015,
            "peoples": [
              {
                "id": 1,
                "name": "Команда 1",
                "avatar": "assets/images/avatar_5.png",
                "progress": 90,
                "sum": 900,
                "details": []
              },
              {
                "id": 2,
                "name": "Команда 2",
                "avatar": "assets/images/avatar_5.png",
                "progress": 89,
                "sum": 89000,
                "details": []
              },
              {
                "id": 3,
                "name": "Команда 3",
                "avatar": "assets/images/avatar_5.png",
                "progress": 56,
                "sum": 56000,
                "details": []
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/16",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 16,
            "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021 (команда)",
            "dateFrom": "2021-09-16T22:12:20.946793",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionAmount",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽"
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%"
              }
            ],
            "prise": 5016,
            "peoples": [
              {
                "id": 1,
                "name": "Команда 1",
                "avatar": "assets/images/avatar_5.png",
                "progress": 90,
                "sum": 900,
                "details": []
              },
              {
                "id": 2,
                "name": "Команда 2",
                "avatar": "assets/images/avatar_5.png",
                "progress": 89,
                "sum": 89000,
                "details": []
              },
              {
                "id": 3,
                "name": "Команда 3",
                "avatar": "assets/images/avatar_5.png",
                "progress": 56,
                "sum": 56000,
                "details": []
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/17",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 17,
            "title": "Конверсия по количеству 25%",
            "dateFrom": "2021-09-16T22:12:20.946811",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionTotal",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽"
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%"
              }
            ],
            "prise": 5017,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 311,
                    "total": 300
                  },
                  {
                    "title": "Количество чеков",
                    "sum": 560,
                    "total": null
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 311,
                    "total": 300
                  },
                  {
                    "title": "Количество чеков",
                    "sum": 560,
                    "total": null
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 311,
                    "total": 300
                  },
                  {
                    "title": "Количество чеков",
                    "sum": 560,
                    "total": null
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 311,
                    "total": 300
                  },
                  {
                    "title": "Количество чеков",
                    "sum": 560,
                    "total": null
                  }
                ]
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/18",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 18,
            "title": "Лучшая конверсия по количеству в сентябре 2021",
            "dateFrom": "2021-09-16T22:12:20.946971",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionTotal",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽"
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%"
              }
            ],
            "prise": 5018,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 311,
                    "total": 300
                  },
                  {
                    "title": "Количество чеков",
                    "sum": 560,
                    "total": null
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 311,
                    "total": 300
                  },
                  {
                    "title": "Количество чеков",
                    "sum": 560,
                    "total": null
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 311,
                    "total": 300
                  },
                  {
                    "title": "Количество чеков",
                    "sum": 560,
                    "total": null
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 311,
                    "total": 300
                  },
                  {
                    "title": "Количество чеков",
                    "sum": 560,
                    "total": null
                  }
                ]
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/19",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 19,
            "title": "Конверсия по количеству 25%",
            "dateFrom": "2021-09-16T22:12:20.947242",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionTotal",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽"
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%"
              }
            ],
            "prise": 5019,
            "peoples": [
              {
                "id": 1,
                "name": "Команда 1",
                "avatar": "assets/images/avatar_5.png",
                "progress": 90,
                "sum": 900,
                "details": []
              },
              {
                "id": 2,
                "name": "Команда 2",
                "avatar": "assets/images/avatar_5.png",
                "progress": 89,
                "sum": 89000,
                "details": []
              },
              {
                "id": 3,
                "name": "Команда 3",
                "avatar": "assets/images/avatar_5.png",
                "progress": 56,
                "sum": 56000,
                "details": []
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/20",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 20,
            "title": "Лучшая конверсия по количеству в сентябре 2021",
            "dateFrom": "2021-09-16T22:12:20.947262",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionTotal",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽"
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%"
              }
            ],
            "prise": 5020,
            "peoples": [
              {
                "id": 1,
                "name": "Команда 1",
                "avatar": "assets/images/avatar_5.png",
                "progress": 90,
                "sum": 900,
                "details": []
              },
              {
                "id": 2,
                "name": "Команда 2",
                "avatar": "assets/images/avatar_5.png",
                "progress": 89,
                "sum": 89000,
                "details": []
              },
              {
                "id": 3,
                "name": "Команда 3",
                "avatar": "assets/images/avatar_5.png",
                "progress": 56,
                "sum": 56000,
                "details": []
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/111",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 111,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.948280",
            "dateTo": "2021-09-22T22:12:20.948303",
            "format": "onePerson",
            "type": "sum",
            "isBest": false,
            "isWin": true,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽"
              }
            ],
            "prise": 5111,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 5,
                "name": "Пак Кирилл",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 11,
                "sum": 11000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/112",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 112,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-16T22:12:20.948326",
            "dateTo": "2021-09-22T22:12:20.948343",
            "format": "onePerson",
            "type": "sum",
            "isBest": false,
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽"
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽"
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽"
              }
            ],
            "prise": 5112,
            "peoples": [
              {
                "id": 1,
                "name": "Михайлова Алина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 90,
                "sum": 90000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 80,
                "sum": 80567,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 3,
                "name": "Зотов Станислав",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 70,
                "sum": 70123,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 4,
                "name": "Кипринская Марина",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 24,
                "sum": 24000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              },
              {
                "id": 5,
                "name": "Пак Кирилл",
                "avatar": "https://via.placeholder.com/350x150",
                "progress": 11,
                "sum": 11000,
                "details": [
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 25690,
                    "total": 50000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 9123,
                    "total": 20000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 15190,
                    "total": 30000
                  }
                ]
              }
            ],
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  }
