
  {
    "endpoint": "/mock/challenge/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-23T03:20:51.093258",
            "dateTo": null,
            "format": "onePerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": false
              }
            ],
            "prise": 5001,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/2",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 2,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-23T03:20:51.094852",
            "dateTo": null,
            "format": "onePerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5002,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/3",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 3,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-23T03:20:51.094873",
            "dateTo": null,
            "format": "manyPerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": false
              }
            ],
            "prise": 5003,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/4",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 4,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-23T03:20:51.094882",
            "dateTo": null,
            "format": "manyPerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5004,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/5",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 5,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-23T03:20:51.097959",
            "dateTo": null,
            "format": "onePerson",
            "type": "count",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт",
                "isCondition": false
              }
            ],
            "prise": 5005,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/6",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 6,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-23T03:20:51.098137",
            "dateTo": null,
            "format": "onePerson",
            "type": "count",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт",
                "isCondition": true
              }
            ],
            "prise": 5006,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/7",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 7,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-23T03:20:51.098295",
            "dateTo": null,
            "format": "manyPerson",
            "type": "count",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт",
                "isCondition": false
              }
            ],
            "prise": 5007,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/8",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 8,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-23T03:20:51.098420",
            "dateTo": null,
            "format": "manyPerson",
            "type": "count",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт",
                "isCondition": true
              }
            ],
            "prise": 5008,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/9",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 9,
            "title": "Средний чек - 980",
            "dateFrom": "2021-09-23T03:20:51.098441",
            "dateTo": null,
            "format": "onePerson",
            "type": "avgCheck",
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": "",
                "isCondition": true
              }
            ],
            "prise": 5009,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/10",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 10,
            "title": "Самый большой средний чек",
            "dateFrom": "2021-09-23T03:20:51.098461",
            "dateTo": null,
            "format": "onePerson",
            "type": "avgCheck",
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": "",
                "isCondition": true
              },
              {
                "title": "Сумма товаров",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5010,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/11",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 11,
            "title": "Средний чек команды - 980",
            "dateFrom": "2021-09-23T03:20:51.098473",
            "dateTo": null,
            "format": "manyPerson",
            "type": "avgCheck",
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": "",
                "isCondition": true
              }
            ],
            "prise": 5011,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/12",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 12,
            "title": "Самый большой средний чек (команда)",
            "dateFrom": "2021-09-23T03:20:51.098485",
            "dateTo": null,
            "format": "manyPerson",
            "type": "avgCheck",
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": "",
                "isCondition": true
              },
              {
                "title": "Сумма товаров",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5012,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/13",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 13,
            "title": "Конверсия по сумме 25%",
            "dateFrom": "2021-09-23T03:20:51.098495",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionAmount",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": false
              }
            ],
            "prise": 5013,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/14",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 14,
            "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021",
            "dateFrom": "2021-09-23T03:20:51.098503",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionAmount",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": true
              }
            ],
            "prise": 5014,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/15",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 15,
            "title": "Конверсия по сумме 25%",
            "dateFrom": "2021-09-23T03:20:51.098512",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionAmount",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": false
              }
            ],
            "prise": 5015,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/16",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 16,
            "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021 (команда)",
            "dateFrom": "2021-09-23T03:20:51.098521",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionAmount",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": true
              }
            ],
            "prise": 5016,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/17",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 17,
            "title": "Конверсия по количеству 25%",
            "dateFrom": "2021-09-23T03:20:51.098530",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionTotal",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": false
              }
            ],
            "prise": 5017,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/18",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 18,
            "title": "Лучшая конверсия по количеству в сентябре 2021",
            "dateFrom": "2021-09-23T03:20:51.098538",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionTotal",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": true
              }
            ],
            "prise": 5018,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/19",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 19,
            "title": "Конверсия по количеству 25%",
            "dateFrom": "2021-09-23T03:20:51.098547",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionTotal",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": false
              }
            ],
            "prise": 5019,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/20",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 20,
            "title": "Лучшая конверсия по количеству в сентябре 2021",
            "dateFrom": "2021-09-23T03:20:51.098555",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionTotal",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": true
              }
            ],
            "prise": 5020,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
          }
        }
      }
    }
  },
    {
      "endpoint": "/mock/challenge/111",
      "backend": [
        {
          "host": [
            "http://ovz5.j1121565.m719m.vps.myjino.ru/"
          ]
        }
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "static": {
            "strategy": "errored",
            "data": {
              "id": 111,
              "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
              "dateFrom": "2021-09-16T22:12:20.948280",
              "dateTo": "2021-09-22T22:12:20.948303",
              "format": "onePerson",
              "type": "sum",
              "isBest": false,
              "isWin": true,
              "target": [
                {
                  "title": "Кофе латте 300 мл",
                  "total": 50000,
                  "unit": "₽"
                },
                {
                  "title": "Батончик Mars 70 г",
                  "total": 20000,
                  "unit": "₽"
                },
                {
                  "title": "Жвачка Orbit Сладкая мята",
                  "total": 30000,
                  "unit": "₽"
                }
              ],
              "prise": 5111,
              "peoples": [
                {
                  "id": 1,
                  "name": "Михайлова Алина",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 90,
                  "sum": 90000,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                },
                {
                  "id": 2,
                  "name": "Сергеева Ольга",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 80,
                  "sum": 80567,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                },
                {
                  "id": 3,
                  "name": "Зотов Станислав",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 70,
                  "sum": 70123,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                },
                {
                  "id": 4,
                  "name": "Кипринская Марина",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 24,
                  "sum": 24000,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                },
                {
                  "id": 5,
                  "name": "Пак Кирилл",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 11,
                  "sum": 11000,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                }
              ],
              "targetType": "forTarget",
              "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
            }
          }
        }
      }
    },
    {
      "endpoint": "/mock/challenge/112",
      "backend": [
        {
          "host": [
            "http://ovz5.j1121565.m719m.vps.myjino.ru/"
          ]
        }
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "static": {
            "strategy": "errored",
            "data": {
              "id": 112,
              "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
              "dateFrom": "2021-09-16T22:12:20.948326",
              "dateTo": "2021-09-22T22:12:20.948343",
              "format": "onePerson",
              "type": "sum",
              "isBest": false,
              "isWin": false,
              "target": [
                {
                  "title": "Кофе латте 300 мл",
                  "total": 50000,
                  "unit": "₽"
                },
                {
                  "title": "Батончик Mars 70 г",
                  "total": 20000,
                  "unit": "₽"
                },
                {
                  "title": "Жвачка Orbit Сладкая мята",
                  "total": 30000,
                  "unit": "₽"
                }
              ],
              "prise": 5112,
              "peoples": [
                {
                  "id": 1,
                  "name": "Михайлова Алина",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 90,
                  "sum": 90000,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                },
                {
                  "id": 2,
                  "name": "Сергеева Ольга",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 80,
                  "sum": 80567,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                },
                {
                  "id": 3,
                  "name": "Зотов Станислав",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 70,
                  "sum": 70123,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                },
                {
                  "id": 4,
                  "name": "Кипринская Марина",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 24,
                  "sum": 24000,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                },
                {
                  "id": 5,
                  "name": "Пак Кирилл",
                  "avatar": "https://via.placeholder.com/350x150",
                  "progress": 11,
                  "sum": 11000,
                  "details": [
                    {
                      "title": "Кофе латте 300 мл",
                      "sum": 25690,
                      "total": 50000
                    },
                    {
                      "title": "Батончик Mars 70 г",
                      "sum": 9123,
                      "total": 20000
                    },
                    {
                      "title": "Жвачка Orbit Сладкая мята",
                      "sum": 15190,
                      "total": 30000
                    }
                  ]
                }
              ],
              "targetType": "forBestResult",
              "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!"
            }
          }
        }
      }
  }

