  {
    "endpoint": "/mock/archive/page/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 111,
                "dateFrom": "2021-09-16T20:07:50.496020",
                "dateTo": "2021-09-22T20:07:50.496099",
                "format": "onePerson",
                "isWin": true,
                "sum": 1000,
                "total": 5111,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              },
              {
                "id": 112,
                "dateFrom": "2021-09-16T20:07:50.496666",
                "dateTo": "2021-09-22T20:07:50.496689",
                "format": "onePerson",
                "isWin": false,
                "sum": 1000,
                "total": 5112,
                "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
                "type": "sum"
              }
            ],
            "meta": {
              "currentPage": 1,
              "lastPage": 1,
              "total": 2
            }
          }
        }
      }
    }
  }