
  {
    "endpoint": "/mock/challenge/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 1,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.251848",
            "dateTo": null,
            "format": "onePerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": false
              }
            ],
            "prise": 5001,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/2",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 2,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.257925",
            "dateTo": null,
            "format": "onePerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5002,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/3",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 3,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.257950",
            "dateTo": null,
            "format": "manyPerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": false
              }
            ],
            "prise": 5003,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/4",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 4,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.257968",
            "dateTo": null,
            "format": "manyPerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5004,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/5",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 5,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.260964",
            "dateTo": null,
            "format": "onePerson",
            "type": "count",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт",
                "isCondition": false
              }
            ],
            "prise": 5005,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/6",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 6,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.261234",
            "dateTo": null,
            "format": "onePerson",
            "type": "count",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт",
                "isCondition": true
              }
            ],
            "prise": 5006,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/7",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 7,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.261377",
            "dateTo": null,
            "format": "manyPerson",
            "type": "count",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт",
                "isCondition": false
              }
            ],
            "prise": 5007,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/8",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 8,
            "title": "Ежемесячный командный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.261586",
            "dateTo": null,
            "format": "manyPerson",
            "type": "count",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "шт",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "шт",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "шт",
                "isCondition": true
              }
            ],
            "prise": 5008,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/9",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 9,
            "title": "Средний чек - 980",
            "dateFrom": "2021-09-24T06:55:54.261681",
            "dateTo": null,
            "format": "onePerson",
            "type": "avgCheck",
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": "",
                "isCondition": true
              }
            ],
            "prise": 5009,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/10",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 10,
            "title": "Самый большой средний чек",
            "dateFrom": "2021-09-24T06:55:54.261702",
            "dateTo": null,
            "format": "onePerson",
            "type": "avgCheck",
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": "",
                "isCondition": true
              },
              {
                "title": "Сумма товаров",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5010,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/11",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 11,
            "title": "Средний чек команды - 980",
            "dateFrom": "2021-09-24T06:55:54.261720",
            "dateTo": null,
            "format": "manyPerson",
            "type": "avgCheck",
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": "",
                "isCondition": true
              }
            ],
            "prise": 5011,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/12",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 12,
            "title": "Самый большой средний чек (команда)",
            "dateFrom": "2021-09-24T06:55:54.261739",
            "dateTo": null,
            "format": "manyPerson",
            "type": "avgCheck",
            "isWin": false,
            "target": [
              {
                "title": "Сумма среднего чека",
                "total": 980,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Количество чеков",
                "total": 600,
                "unit": "",
                "isCondition": true
              },
              {
                "title": "Сумма товаров",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5012,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/13",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 13,
            "title": "Конверсия по сумме 25%",
            "dateFrom": "2021-09-24T06:55:54.261757",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionAmount",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": false
              }
            ],
            "prise": 5013,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/14",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 14,
            "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021",
            "dateFrom": "2021-09-24T06:55:54.261779",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionAmount",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": true
              }
            ],
            "prise": 5014,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/15",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 15,
            "title": "Конверсия по сумме 25%",
            "dateFrom": "2021-09-24T06:55:54.261965",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionAmount",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": false
              }
            ],
            "prise": 5015,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/16",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 16,
            "title": "Лучшая конверсия по сумме в сентябре - ноябре 2021 (команда)",
            "dateFrom": "2021-09-24T06:55:54.261984",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionAmount",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": true
              }
            ],
            "prise": 5016,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/17",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 17,
            "title": "Конверсия по количеству 25%",
            "dateFrom": "2021-09-24T06:55:54.262004",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionTotal",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": false
              }
            ],
            "prise": 5017,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/18",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 18,
            "title": "Лучшая конверсия по количеству в сентябре 2021",
            "dateFrom": "2021-09-24T06:55:54.262024",
            "dateTo": null,
            "format": "onePerson",
            "type": "conversionTotal",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": true
              }
            ],
            "prise": 5018,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/19",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 19,
            "title": "Конверсия по количеству 25%",
            "dateFrom": "2021-09-24T06:55:54.262042",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionTotal",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": false
              }
            ],
            "prise": 5019,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/20",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 20,
            "title": "Лучшая конверсия по количеству в сентябре 2021",
            "dateFrom": "2021-09-24T06:55:54.262060",
            "dateTo": null,
            "format": "manyPerson",
            "type": "conversionTotal",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 100000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Конверсия по сумме",
                "total": 25,
                "unit": "%",
                "isCondition": true
              }
            ],
            "prise": 5020,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/21",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 21,
            "title": "(21) Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.262078",
            "dateTo": null,
            "format": "onePerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              }
            ],
            "prise": 5021,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": 100000,
            "targetPriceCondition": false
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/22",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 22,
            "title": "(22) Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.262232",
            "dateTo": null,
            "format": "onePerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              }
            ],
            "prise": 5022,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": 100000,
            "targetPriceCondition": true
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/111",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 111,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.279372",
            "dateTo": "2021-09-30T06:55:54.279405",
            "format": "onePerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": false
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": false
              }
            ],
            "prise": 5111,
            "targetType": "forTarget",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  },
  {
    "endpoint": "/mock/challenge/112",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/", "http://madteams.itmegastar.com/api/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "id": 112,
            "title": "Ежемесячный индивидуальный челлендж по продаже кофе",
            "dateFrom": "2021-09-24T06:55:54.279426",
            "dateTo": "2021-09-30T06:55:54.279444",
            "format": "onePerson",
            "type": "sum",
            "isWin": false,
            "target": [
              {
                "title": "Кофе латте 300 мл",
                "total": 50000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Батончик Mars 70 г",
                "total": 20000,
                "unit": "₽",
                "isCondition": true
              },
              {
                "title": "Жвачка Orbit Сладкая мята",
                "total": 30000,
                "unit": "₽",
                "isCondition": true
              }
            ],
            "prise": 5112,
            "targetType": "forBestResult",
            "text": "Внимание, новый челлендж! В этот чудесный осенний месяц мы предлагаем вам новый кофейный вызов: продайте кофе латте на сумму 30 000 рублей за предстоящую неделю! \n    В челлендже учатсвует вся команда операторов АЗС 156. Торопитесь, время очень сильно ограничено! \n  Дадим небольшую подсказку: на данный момент лучше всего продается товар Кофе латте 300 мл. Попробуйте сделать акцент при продажах именно на нем! Успехов всем!",
            "targetPriceTotal": null,
            "targetPriceCondition": null
          }
        }
      }
    }
  }
