{
    "endpoint": "/mock/challenge/1/members/page/1",
    "backend": [
      {
        "host": [
          "http://ovz5.j1121565.m719m.vps.myjino.ru/"
        ]
      }
    ],
    "extra_config": {
      "github.com/devopsfaith/krakend/proxy": {
        "static": {
          "strategy": "errored",
          "data": {
            "data": [
              {
                "id": 1,
                "name": "Сергеева Ольга",
                "avatar": "3",
                "progress": 40,
                "sum": 200,
                "details": [
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 48,
                    "total": 200
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 132,
                    "total": 300
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 208,
                    "total": 600
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 104,
                    "total": 500
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 87,
                    "total": 200
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 341,
                    "total": 700
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 257,
                    "total": 400
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 5,
                    "total": 800
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 39,
                    "total": 100
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 447,
                    "total": 900
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 275,
                    "total": 800
                  }
                ]
              },
              {
                "id": 2,
                "name": "Сергеева Ольга",
                "avatar": "1",
                "progress": 20,
                "sum": 1000,
                "details": [
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 108,
                    "total": 300
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 853,
                    "total": 900
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 568,
                    "total": 800
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 169,
                    "total": 200
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 317,
                    "total": 700
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 61,
                    "total": 200
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 285,
                    "total": 700
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 201,
                    "total": 1000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 258,
                    "total": 600
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 31,
                    "total": 600
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 45,
                    "total": 200
                  }
                ]
              },
              {
                "id": 3,
                "name": "Сергеева Ольга",
                "avatar": "4",
                "progress": 13,
                "sum": 800,
                "details": [
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 193,
                    "total": 300
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 285,
                    "total": 500
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 86,
                    "total": 700
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 139,
                    "total": 300
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 200,
                    "total": 500
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 88,
                    "total": 800
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 84,
                    "total": 800
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 204,
                    "total": 600
                  }
                ]
              },
              {
                "id": 4,
                "name": "Михайлова Алина",
                "avatar": "3",
                "progress": 10,
                "sum": 500,
                "details": [
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 260,
                    "total": 300
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 177,
                    "total": 1000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 824,
                    "total": 900
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 137,
                    "total": 700
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 677,
                    "total": 1000
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 187,
                    "total": 200
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 132,
                    "total": 300
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 207,
                    "total": 400
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 8,
                    "total": 100
                  }
                ]
              },
              {
                "id": 5,
                "name": "Сергеева Ольга",
                "avatar": "2",
                "progress": 8,
                "sum": 200,
                "details": [
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 626,
                    "total": 900
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 95,
                    "total": 500
                  }
                ]
              },
              {
                "id": 6,
                "name": "Пак Кирилл",
                "avatar": "4",
                "progress": 7,
                "sum": 800,
                "details": [
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 601,
                    "total": 700
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 427,
                    "total": 1000
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 27,
                    "total": 200
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 293,
                    "total": 500
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 201,
                    "total": 900
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 185,
                    "total": 400
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 115,
                    "total": 200
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 656,
                    "total": 800
                  }
                ]
              },
              {
                "id": 7,
                "name": "Пак Кирилл",
                "avatar": "1",
                "progress": 6,
                "sum": 1000,
                "details": [
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 35,
                    "total": 600
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 46,
                    "total": 200
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 492,
                    "total": 500
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 154,
                    "total": 400
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 390,
                    "total": 500
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 90,
                    "total": 100
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 589,
                    "total": 600
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 12,
                    "total": 100
                  }
                ]
              },
              {
                "id": 8,
                "name": "Сергеева Ольга",
                "avatar": "4",
                "progress": 5,
                "sum": 300,
                "details": [
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 42,
                    "total": 500
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 65,
                    "total": 100
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 602,
                    "total": 800
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 995,
                    "total": 1000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 274,
                    "total": 700
                  }
                ]
              },
              {
                "id": 9,
                "name": "Зотов Станислав",
                "avatar": "4",
                "progress": 4,
                "sum": 800,
                "details": [
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 326,
                    "total": 400
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 12,
                    "total": 700
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 121,
                    "total": 1000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 440,
                    "total": 1000
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 170,
                    "total": 200
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 624,
                    "total": 1000
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 670,
                    "total": 900
                  },
                  {
                    "title": "Батончик Mars 70 г",
                    "sum": 200,
                    "total": 300
                  }
                ]
              },
              {
                "id": 10,
                "name": "Сергеева Ольга",
                "avatar": "4",
                "progress": 4,
                "sum": 600,
                "details": [
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 127,
                    "total": 200
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 12,
                    "total": 200
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 225,
                    "total": 500
                  },
                  {
                    "title": "Кофе латте 300 мл",
                    "sum": 992,
                    "total": 1000
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 300,
                    "total": 800
                  },
                  {
                    "title": "Жвачка Orbit Сладкая мята",
                    "sum": 725,
                    "total": 800
                  }
                ]
              }
            ],
            "meta": {
              "currentPage": 1,
              "lastPage": 3,
              "total": 28
            }
          }
        }
      }
    }
  }