    {
      "endpoint": "/mock",
      "backend": [
        {
          "host": [
            "http://ovz5.j1121565.m719m.vps.myjino.ru/"
          ]
        }
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "mock": {
            "strategy": "errored",
            "data": {
              "oh-snap": {
                "id": 42,
                "bar": "foobar"
              }
            }
          }
        }
      }
    },
