    {
      "endpoint": "/static",
      "backend": [
        {
          "host": [
            "http://ovz5.j1121565.m719m.vps.myjino.ru/"
          ]
        }
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "static": {
            "strategy": "errored",
            "data": {
                        "meta": {
                            "currentPage": 1,
                            "lastPage": 1,
                            "total": 8
                        },
                        "data": [
                            {
                                "id": 1,
                                "dateFrom": "2021-09-11T01:43:37.913641",
                                "dateTo": null,
                                "sum": 1000.0,
                                "total": 5000.0,
                                "title": "Ежемесячный индивидуальный челлендж по продаже кофе"
                            },
                            {
                                "id": 2,
                                "dateFrom": "2021-09-11T01:43:37.938094",
                                "dateTo": null,
                                "sum": 1000.0,
                                "total": 5000.0,
                                "title": "Ежемесячный индивидуальный челлендж по продаже кофе"
                            },
                            {
                                "id": 3,
                                "dateFrom": "2021-09-11T01:43:37.938138",
                                "dateTo": null,
                                "sum": 1000.0,
                                "total": 5000.0,
                                "title": "Ежемесячный индивидуальный челлендж по продаже кофе"
                            },
                            {
                                "id": 4,
                                "dateFrom": "2021-09-11T01:43:37.938167",
                                "dateTo": null,
                                "sum": 1000.0,
                                "total": 5000.0,
                                "title": "Ежемесячный индивидуальный челлендж по продаже кофе"
                            },
                            {
                                "id": 1,
                                "dateFrom": "2021-09-11T01:43:37.949642",
                                "dateTo": null,
                                "sum": 1000.0,
                                "total": 1000.0,
                                "title": "Ежемесячный групповой челлендж по продаже кофе"
                            },
                            {
                                "id": 2,
                                "dateFrom": "2021-09-11T07:45:37.949693",
                                "dateTo": null,
                                "sum": 100000.0,
                                "total": 100000.0,
                                "title": "Ежемесячный групповой челлендж по продаже кофе"
                            },
                            {
                                "id": 3,
                                "dateFrom": "2021-09-11T07:45:37.949735",
                                "dateTo": null,
                                "sum": 10000.0,
                                "total": 10000.0,
                                "title": "Ваш звездный час, операторы"
                            },
                            {
                                "id": 4,
                                "dateFrom": "2021-09-11T07:45:37.949775",
                                "dateTo": null,
                                "sum": 10000.0,
                                "total": 10000.0,
                                "title": "А ну-ка, девушки!"
                            }
                        ]
                    }
            }
          }
        }
      }
    }
